:root {
    --primary-font: 'Caveat', cursive;
    --secondary-font:'Alegreya', serif;
    --primary-color-font:#385170;
    --secondary-color-font:#a696c8;
    --background-image: linear-gradient(#6374d518, #9b90c846);
    --shadow:5px,5px,10px, rgba(0,0,0,0.2);
  }

  body {
    margin: 0px;
    padding: 0px;
    background-image: var(--background-image);
  }

  p {
    font-size:22px;
    line-height: 1;
    color: var(--primary-color-font);
  }
  .logo {max-height: 75px;}
  nav {
    padding: 20px 0;
  }
  
  nav ul {
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline;
    list-style: none;
    line-height: 42px;
    margin-left: 15px;
  }
  
  nav a {
    text-decoration: none;
    color: var(--primary-color-font);
    transition: all 100ms ease-in-out;
  }
  
  nav a:hover,
  nav li.active a {
    color: var(--secondary-color-font);
  }
.container-about-me {background-color: #a696c8;
  text-align: center;
  width:900px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius:5px;
  border: 3px solid var(--primary-color-font);}

.polaroid {background: #fff;
    padding:1rem;
    box-shadow: var(--shadow);
    width: 70%;
    transform: rotate(-4deg);
    margin-left:500px;
}

.polaroid >img {
    max-width: 100%;
    height:auto;
}

.carousel-container {background-color: #a696c8;
  text-align: center;
  width:900px;
  margin: auto;
  border-radius:5px;
  margin-top: 25px;
  margin-bottom: 40px;
  border: 3px solid var(--primary-color-font);
}

.travel-header {font-family: var(--primary-font);
color: var(--primary-color-font);}

.carousel-location, .carousel-place{color: white;}

